<div class="sidebar-wrapper">
  <div class="sidebar-brand">
    <a routerLink="/home">TOOLKIT</a>
  </div>
  <ul>
    <li class="sidebar-element" routerLinkActive="active">
      <a routerLink="/reactive-form" >Reactive Form</a>
    </li> 
    <li class="sidebar-element" routerLinkActive="active">
      <a routerLink="/dynamic-button" >Dynamic Button</a>
    </li> 
    <li class="sidebar-element" routerLinkActive="active">
      <a routerLink="/table" >Table</a>
    </li> 
    <li class="sidebar-element" routerLinkActive="active">
      <a routerLink="/dynamic-table" >Dynamic Table</a>
    </li> 
  </ul>
</div>
