.register {
  display: grid;
  grid-template-areas:
    "title"
    "form";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 1rem;

  &__title {
    grid-area: title;
    display: flex;
    justify-content: center;
  }

  &__heading {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0;
    background: linear-gradient(90deg, #007bff, #00d4ff);
    background-clip: text;
    color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: pulse 1.5s infinite alternate;
  }

  &__form {
    grid-area: form;
    display: flex;
    justify-content: center;
  }

  &__form-content {
    display: grid;
    width: 100%;
    max-width: 400px;
    row-gap: 1rem;
    /* Configuración para dos columnas */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "user"
      "email"
      "first-password"
      "second-password"
      "actions";
  }

  &__field {
    display: flex;
    flex-direction: column;

    &--user {
      grid-area: user;
    }
    &--email {
      grid-area: email;
    }
    &--first-password {
      grid-area: first-password;
    }
    &--second-password {
      grid-area: second-password;
    }
  }

  &__label {
    margin-bottom: 0.5rem;
  }

  &__input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    &--with-icon {
      width: 100%;
      padding-right: 30px;
    }
  }

  &__error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  &__actions {
    grid-area: actions;
    display: flex;
    justify-content: center;
  }

  &__button {
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
    &:disabled {
      background-color: #ccc;
      color: #666;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  &__field--first-password,
  &__field--second-password{
    position: relative;

    .register__input-container {
      display: flex;
      align-items: center;

      .password-toggle {
        position: absolute;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        outline: none;

        &__icon { // Estilos para la imagen del ojo
          width: 24px;
          height: 24px;
          display: block; // Asegurar que la imagen ocupa el tamaño definido
          pointer-events: none; // Evitar que el icono interfiera con el input
        } 
      }
    }
  }
}
