<div class="register">
  <div class="register__title">
    <h1 class="register__heading">Register</h1>
  </div>
  <div class="register__form">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register__form-content">
      <div class="register__field register__field--user">
        <label for="username" class="register__label">Usuario:</label>
        <input
        type="text"
        id="username"
        name="username"
        placeholder="Usuario"
        autocomplete="username"
        formControlName="username"
        class="register__input"
        />
        <div *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched" class="register__error">
          {{ getErrorMessage('username') }}
          </div>
      </div>
      <div class="register__field register__field--email">
        <label for="email" class="register__label">Email:</label>
        <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        autocomplete="email"
        formControlName="email"
        class="register__input"
        />
        <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="register__error">
          {{ getErrorMessage('email') }}
          </div>
      </div>
      <div class="register__actions">
        <button type="submit" class="register__button" [disabled]="registerForm.invalid">Submit</button>
    </div>
    </form>
  </div>
</div>