@forward "./reset.scss";
@forward "./variables.scss";
@forward "./functions.scss";
@forward "./mixins.scss";
@forward "./utilities.scss";
@forward "./fonts.scss";

html, body {
  width: 100vw; 
  height: 100vh; 
  overflow: hidden; 
  background-color: #e2e8f0;
  font-family: 'Poppins', sans-serif;
}