<div class="login">
    <div class="login__title">
        <h1 class="login__heading">Login</h1>
    </div>
    <div class="login__form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form-content">
            <div class="login__field login__field--user">
                <label for="username" class="login__label">Usuario/Email:</label>
                <input
                type="text"
                id="username"
                name="username"
                placeholder="Usuario o Email"
                autocomplete="username email"
                formControlName="userIdentifier"
                class="login__input"
                />
                <div *ngIf="loginForm.controls['userIdentifier'].invalid && loginForm.controls['userIdentifier'].touched" class="login__error">
                {{ getErrorMessage('userIdentifier') }}
                </div>
            </div>
            <div class="login__field login__field--password">
                <label for="password" class="login__label">Password:</label>
                <div class="login__input-container">
                <input
                [type]="showPassword ? 'text' : 'password'"
                id="password"
                name="password"
                placeholder="Contraseña"
                autocomplete="current-password"
                formControlName="password"
                class="login__input login__input--with-icon"
                />
                <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
                    <img [src]="showPassword ? 'eye-open.svg' : 'eye-closed.svg'" alt="ddd" class="password-toggle__icon">
                 </button>
                </div>
                <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="login__error">
                {{ getErrorMessage('password') }}
                </div>
            </div>
            <div class="login__actions">
                <button type="submit" class="login__button" [disabled]="loginForm.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>