<div class="reset-password">
  <div class="reset-password__title">
    <h1 class="reset-password__heading">Register</h1>
  </div>
  <div class="reset-password__form">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-password__form-content">

      <div class="reset-password__field reset-password__field--email">
        <label for="email" class="reset-password__label">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          autocomplete="email"
          formControlName="email"
          class="reset-password__input"
        />
        <div *ngIf="resetPasswordForm.controls['email'].invalid && resetPasswordForm.controls['email'].touched" class="reset-password__error">
          {{ getErrorMessage('email') }}
        </div>
      </div>
      <div class="reset-password__actions">
        <button type="submit" class="reset-password__button">Submit</button>
      </div>
    </form>
  </div>
</div>
