<h2 class="table-title">Users</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email Address</th>
      <th>Phone Number</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of pagination.paginatedData;">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.city }}</td>
    </tr>
  </tbody>
</table>

<div class="pagination" [ngClass]="{'hidden': pagination.isDataEmpty}">
  <button (click)="goToFirstPage()" [disabled]="!paginationService.hasPreviousPage(pagination)">
      <i class="fas fa-angle-double-left"></i> First
  </button>
  <button (click)="prevPage()" [disabled]="!paginationService.hasPreviousPage(pagination)">
      <i class="fas fa-angle-left"></i> Previous
  </button>
  <span class="page-info">Page {{ pagination.currentPage }} of {{ paginationService.getTotalPages(data.length, pagination) }}</span>
  <button (click)="nextPage()" [disabled]="!paginationService.hasNextPage(data.length, pagination)">
      Next <i class="fas fa-angle-right"></i>
  </button>
  <button (click)="goToLastPage()" [disabled]="!paginationService.hasNextPage(data.length, pagination)">
      Last <i class="fas fa-angle-double-right"></i>
  </button>
</div>
