<!-- <app-layout></app-layout> -->
<!-- <app-built-in-pipes></app-built-in-pipes> -->
<!-- <app-custom-pipes></app-custom-pipes> -->
<!-- <app-host-listener></app-host-listener> -->
<!-- <app-built-in-directives></app-built-in-directives> -->
<!-- <app-custom-directives></app-custom-directives> -->
<!-- <app-bindings></app-bindings> -->
<!-- <app-deferrable-views></app-deferrable-views> -->
<!-- ===== CONTENT PROJECTION ===== -->
<!-- <app-content-projection>
  <h3 ngProjectAs="card-title">Este es el Título de la Tarjeta</h3>
  <div card-body>Este es el contenido principal de la tarjeta.</div>
  <p>Este es el contenido adicional en el pie de la tarjeta.</p>
</app-content-projection> -->
<!-- ============================== -->
<!-- ===== DETECCION DE CAMBIOS ===== -->
<!-- <p>Render App: {{renderApp()}}</p>  
<app-input></app-input>
<app-mock></app-mock> -->
<!-- ================================ -->
<!-- <app-ellipsis></app-ellipsis> -->
<!-- <app-tooltip></app-tooltip> -->
<!-- <app-principal></app-principal> -->
<!-- <app-filteçrs></app-filters> -->
<!-- <app-disabling></app-disabling> -->
<!-- <app-signals></app-signals> -->
<!-- <app-parent></app-parent> -->
<app-parent-bidirectional></app-parent-bidirectional>


