.editor-container {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  border: 3px solid #000000;
  border-radius: 8px;
}

.editor-container__text-editor {
  outline: none;
  box-sizing: border-box;
  padding: 50px;
}
