<div class="contenedor-input" [ngClass]="{'invalid': isInvalid(), 'mb': marginBottom}">
    

  <label>Hola label</label>

  <input
    [type]="type"
    [placeholder]="placeholder"
    [value]="'hola'"
    (input)="onInput($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    [disabled]="isDisabled()"
    [ngClass]="{'fondo-gris': fondoGris, disabled: isDisabled()}"
    />
    <div class="ocultar-password">
      <img src="eye-open.svg" alt="icono" class="icono" (click)="cambiarVisibilidadContrasenia($event)">
    </div>


  @if(isInvalid() && mostrarMensajeError()){
      <div class="mensaje-error">{{ mostrarMensajeError()}}</div>
  }
</div>
