<div class="button-container">
  <div class="button-container__group">
    <h2 class="button-container__title">Botón Normal</h2>
    <button class="button-container__button button-container__button--normal">
      Botón Normal
    </button>
    <button
      class="button-container__button button-container__button--normal button-container__button--disabled"
      disabled
    >
      Botón Normal (Deshabilitado)
    </button>

    <h2 class="button-container__title">Botón Ghost</h2>
    <button class="button-container__button button-container__button--ghost">
      Botón Ghost
    </button>
    <button
      class="button-container__button button-container__button--ghost button-container__button--disabled"
      disabled
    >
      Botón Ghost (Deshabilitado)
    </button>
  </div>
</div>
